extends ../layout/index

block contenido
    div.py-10
        h1.text-center.font-extrabold.my-10.text-4xl.text-vino Bienes 
            span.font-normal.text-negro Raíces
        h2.text-center.font-extrabold.text-2xl.text-negro= page

    div(class="bg-blanco shadow py-8 px-4 rounded-lg max-w-md mx-auto")
        p(class=error ? 'bg-vino' : 'bg-naranja').py-2.px-5.rounded-lg.w-full.font-bold.text-center.text-blanco.uppercase= msg

        if !error
            a(href="/auth/login" class="text-center font-bold text-lg text-negro uppercase mt-10 block bg-naranja hover:bg-vino py-4 px-8 rounded-lg") Ya Puedes Iniciar Sesión 
        else
            a(href="/auth/login" class="text-center font-bold text-lg text-negro uppercase mt-10 block bg-naranja hover:bg-vino py-4 px-8 rounded-lg") Volver al inicio
